{include 'header.latte'}

                    <div class="error-page">
                        <div class="error-code">404</div>
                        <div class="error-command">$ find / -name "page" -type f<br>find: no matches found</div>
                        <a href="/" class="error-link">&gt; cd /</a>
                    </div>

{include 'footer.latte'}
